/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);

  /* REC */
  --REC_visibility: visible;
 
  /* меню */
  --menu_items_color: #FF0070;
  --menu_items_border-color: 255, 0, 112;

  /* надпись "focus" */
  --focus_color: #DB00FF;
  --focus_text-shadow: 4px 4px 0 #FF0070;

  /* аннотация (abstract) */
  /* подзаголовки внути разделов */
  /* заголовки списка внутри раздела */
  --abstract-subtitle-advice_color: #000028;
  --abstract-subtitle-advice_background-color: #FF0070;

  /* заголовки разделов */
  --section_titles_color: #FF0070;
 
  /* основное содержание */
  --main_text_color: #F1B2CE;

  /* ссылки */
  --text_links_text-shadow: 1px 1px 0 #FF0070;
}
