/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* вся страница */
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);

  /* REC */
  --REC_visibility: hidden;

  /* меню */
  --menu_items_color: #353430;
  --menu_items_border-color: 53, 52, 48;

  /* надпись "focus" */
  --focus_color: #ffc2e6;
  --focus_text-shadow: 4px 4px 0 #ff8dcb;

  /* аннотация (abstract) */
  /* подзаголовки внути разделов */
  /* заголовки списка внутри раздела */
  --abstract-subtitle-advice_color: #353430;
  --abstract-subtitle-advice_background-color: #ff8dcb;

  /* заголовки разделов */
  --section_titles_color: #353430;

  /* основное содержание */
  --main_text_color: #353430;

  /* ссылки */
  --text_links_text-shadow: 1px 1px 0 #ff8dcb;
}